<meta name="viewport" content="width=device-width, initial-scale=1">
<title>This Website Is Not DeviantArt</title>
<link rel="stylesheet" type="text/css" href="/styles.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
