.Accordion {
    transition: 0.5s height;
    overflow: hidden;

    &__Header {
        &.disabled {
            .Accordion__Header--Icon {
                display: none;
            }
        }

        &:not(.disabled) {
            cursor: pointer;
            position: relative;

            .Accordion__Header--Icon {
                position: absolute;
                top: 0;
                right: $margin-sm;
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                    transition: 0.5s transform;
                }
            }

            &.opened {
                .Accordion__Header--Icon svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
