.Card {
    display: flex;
    background-color: $gray-l;
    border-radius: 3px;
    margin: $margin-sm $margin-xs;
    flex-direction: column;
    box-shadow: 0 0 5px 0 $gray;
    border: 1px solid $gray;
    overflow: hidden;

    &__Title {
        text-align: center;
        padding: $margin-sm;
        border-bottom: 1px solid $white;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        background-color: darken($gray-l, 5%);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: $margin-xs;
        }

        &.Accordion__Header:after {
            top: $margin-sm;
        }
    }

    &__Content {
        h4 {
            margin: 0;
        }

        img {
            max-width: 100%;
        }
        &--Wrapper {
            padding: $margin-xs $margin-md $margin-sm;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .Thumbnail {

        &__Stats {
            padding-bottom: $margin-sm;
        }
    }

    @include media(small-only) {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-color: $white;

        &__Content {
            &--Wrapper {
                padding: $margin-xs 0;
            }
        }

        .footer-padding {
            padding-bottom: 0;
        }

        .Thumbnail {
            padding-bottom: 0;
        }
    }
}
