.Comments {
    margin: $margin-sm;

    &__ScrollWrapper {
        max-height: 80vh;
        overflow: auto;
        margin: $margin-sm 0;
        width: 100%;
    }

    .Comments {
        margin-right: 0;
    }

    .Comment {
        padding: $margin-sm 0;
        display: flex;
        align-items: flex-start;

        .Avatar {
            margin-right: $margin-sm;
        }

        &__Body {
            flex: 1;
            border: 1px solid $brand;
            border-radius: 3px;
            min-height: 50px;
            background-color: lighten($gray-l, 5%);
        }

        &__Title, &__Content {
            padding: $margin-sm;
        }

        &__Title {
            display: flex;

            .user {
                font-weight: bold;
                flex: 1;
            }
        }

        &__Content {
            display: block;
        }

        .Reply {
            .Buttons {
                display: flex;
                justify-content: flex-end;

                button {
                    &:last-child {
                        margin-left: $margin-xs;
                    }

                    &.hidden + button {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    @include media(small-only) {
        .Reply {
            button {
                flex: 1;
            }
        }

        .Comment {
            &__Content {
                word-break: break-all;
            }
        }

        &__ScrollWrapper {
            max-height: 40vh;
        }
    }
}
