.Deviation {
    height: 100%;
    overflow: hidden;

    &__Preview {
        display: flex;
        justify-content: center;
        margin: $margin-md;
        background-color: $gray;
        border: 1px solid $gray-d;

        svg {
            margin: auto;
            display: block;
            color: $brand;
        }

        img {
            max-width: 100%;
            max-height: 75vh;
            cursor: zoom-in;
        }

        &--Literature {
            width: 100%;
            background-color: lighten($gray-l, 10%);
            padding: 0 $margin-md $margin-md;
        }
    }

    &__Content {
        > .comments-disabled {
            margin-top: $margin-sm;
        }

        .Title {
            display: flex;
            margin: $margin-sm $margin-md;

            &__Text {
                display: flex;
                flex: 1;
                align-items: center;

                > span {
                    padding-left: $margin-sm;
                }

                h1 {
                    margin: 0;
                }
            }

            button {
                position: relative;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .Description {
            padding: 0 $margin-md $margin-sm $margin-md;
        }

        .login {
            padding: $margin-sm $margin-sm 0;
            display: block;
        }

        @include media(small-only) {
            .Title__Text {
                display: none;
            }

            .Title {
                > .Buttons {
                    display: flex;
                    width: 100%;

                    button {
                        flex: 1;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &__Column, .Related {
        .show-more {
            margin: $margin-sm 0;
            display: block;
            text-align: center;
        }

        h3, h4 {
            padding-left: $margin-sm;
            margin: $margin-sm 0;
        }
    }

    .Related {
        @include media(medium-up) {
            display: none;
        }

        @include media(small-only) {
            &--Column {
                display: none;
            }
        }
    }

    &__Column {
        .share {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: $margin-sm;
        }

        @include media(medium-up) {
            .Title {
                display: none;
            }
        }
    }

    @include media(small-only) {
        &__Column {
            .Title {
                flex: 1;
                display: flex;
                align-items: center;
                height: 100%;

                > span {
                    flex: 1;
                    padding: 0 $margin-sm;
                }

                h1 {
                    margin: 0;
                    font-size: 1em;
                }

                .info {
                    flex: 0;
                    margin-right: $margin-xs;
                }
            }

            .Info {
                border-top: 1px solid $gray;
                max-height: calc(100vh - #{$header-height + $footer-height});
                @include sm-list();

                li {
                    display: flex;

                    button {
                        flex: 1;
                    }
                }
            }
        }

        .Stats {
            .faves {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
