.Dropdown {
    position: absolute;
    border: 1px solid $gray-d;
    background-color: lighten($gray-l, 5%);
    margin-top: 2 * $margin-xs;
    right: 0;
    min-width: 200px;
    color: $gray-d;
    z-index: 4;
    box-shadow: 0 0 5px 0 $gray;

    .Buttons {
        text-align: left;
        padding: $margin-sm;
        width: auto;
        white-space: nowrap;
        display: flex;

        button {
            flex: 1;
        }
    }

    .List {
        max-height: 25vh;
        overflow: auto;

        li {
            display: flex;
            align-items: center;
        }
    }

    input {
        margin-right: $margin-xs;
    }

    @include media(small-only) {
        left: calc(-100% - #{$margin-sm});
        right: calc(-100% - #{$margin-sm});
    }
}
