.Entries {
    &__Main {
        padding-bottom: $margin-sm * 2 + $pagination-height;

        .noentries {
            text-align: center;
            margin: $margin-sm;
        }
    }

    &__Sidebar {
        .List {
            font-size: 10px;

            h4 {
                margin: $margin-sm 0;
            }
        }
    }

    .Entry {
        margin: $margin-md;

        @include media(small-only) {
            margin: $margin-md 0;
        }
    }

    .Loading__Overlay {
        right: $share-width;
    }

    @include media(large-only) {
        &__Main {
            .Pagination {
                right: $share-width-lg + $margin-sm;
            }
        }

        .Loading__Overlay {
            right: $share-width-lg;
        }
    }

    @include media(medium-up) {
        &__Sidebar {
            .List {
                a {
                    display: flex;
                    white-space: nowrap;
                    align-items: center;

                    h4 {
                        flex: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    @include media(small-only) {
        &__Sidebar {
            .List {
                a {
                    align-items: center;
                }

                h4 {
                    flex: 1;
                    margin: $margin-xs 0;
                }
            }
        }

        .Loading__Overlay {
            right: 0;
        }
    }
}
