.Entry {
    border-radius: 3px;
    border: 1px solid $gray;
    background-color: lighten($gray-l, 5%);
    padding: $margin-sm;

    hr {
        margin: $margin-sm #{-$margin-sm};
    }

    &__Title {
        h1 {
            margin-top: 0;
        }

        .title {
            display: flex;
            align-items: flex-start;

            a {
                flex: 1;
            }
        }

        .info {
            display: flex;
            flex-wrap: wrap;

            .user {
                padding-bottom: $margin-xs;
            }
            .category {
                width: 100%;
            }
        }
    }

    &__Content {
        img {
            max-width: 100%;
        }
    }

    &__Footer {
        display: flex;
        align-items: center;

        &--Stats {
            flex: 1;
        }

        &--Button {
            text-align: right;
        }
    }

    @include media(small-only) {
        &__Title {
            .title {
                flex-direction: column;
                padding-bottom: $margin-xs;

                h1 {
                    margin-bottom: $margin-xs;
                }
            }
        }
    }
}
