.Accordion__Header:not(.opened), .Accordion__Header.disabled {
    &+ .Favorites {
        border: none;
    }
}

.Favorites {
    background-color: lighten($gray-l, 5%);
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    ul {
        overflow: auto;
        max-height: 25vh;
        flex-direction: column;

        li {
            margin-left: 0;
            padding: $margin-xs $margin-sm;

            a {
                display: flex;
                align-items: center;
                flex-direction: row;

                img {
                    height: $avatar-sm;
                }

                span {
                    padding-left: $margin-xs;
                }
            }
        }
    }

    button {
        margin: $margin-sm;
    }

    @include media(small-only) {
        background-color: lighten($gray-l, 10%);

        .List {
            li {
                margin: 0;
                padding-left: $margin-sm;
                width: calc(100% - #{$margin-sm});
            }
        }
    }
}
