.Gallery {
    &__Menu {
        .Folders {
            .Thumbnail {
                padding: 0;

                &__Content {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    @include media(medium-up) {
        .Folders {
            &__Thumbnails {
                li {
                    text-align: center;
                }
            }
        }
    }
}
