.Grid {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: $margin-sm $margin-sm #{$pagination-height + $margin-sm} $margin-sm;
    width: calc(100% - #{$menu-width + 2 * $margin-sm});
    align-content: flex-start;

    &__Tabbed {
        max-height: calc(100% - #{$pagination-height + 2 * $margin-sm});
    }

    @include media(small-only) {
        width: 100%;
        padding-bottom: $footer-height;

        &__Tabbed {
            max-height: calc(100% - #{$footer-height + $margin-sm});
            &.with-pagination {
                max-height: calc(100% - #{$pagination-height-sm + $footer-height + 2 * $margin-sm});
            }
        }
    }
}
