header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    display: flex;
    position: fixed;
    background-color: $gray;
    align-items: center;
    box-shadow: 0 0 5px 2px $gray-d;
    z-index: 12;
    color: $gray-l;

    a {
        color: $gray-l;
    }

    .Loading {
        height: 2rem;
        color: $gray-l;
    }

    .Buttons {
        display: flex;
        align-items: center;
    }

    .nsfw {
        display: flex;
        height: $header-height - 2 * $margin-xs;
        flex-direction: column;
        font-size: 10px;
        cursor: pointer;

        &:before {
            content: 'NSFW';
            flex: 1;
            font-size: 1rem;
            display: flex;
            align-items: center;

            @include media(small-only) {
                font-size: inherit;
            }
        }
    }

    .Header {
        &__Buttons {
            flex: 1 1 auto;

            .logo {
                width: $header-height;
            }

            &> * {
                margin-left: $margin-xs;
            }
        }
    }

    .User {
        &__Buttons {

            &> *, .Avatar {
                margin-right: $margin-xs;
            }

            &> * {
                display: flex;
                align-items: center;
            }

            &> :first-child {
                margin-left: $margin-xs;
                padding-left: $margin-xs;
                border-left: 1px solid lighten($gray, 10%);
            }

            .notifications {
                position: relative;
                height: $header-height;
                display: flex;

                .icon {
                    cursor: pointer;
                }

                &.hover {
                    background-color: darken($gray, 5%);
                    .feed {
                        display: block;
                    }
                }

                @media (any-hover:hover) {
                    &:hover {
                        background-color: darken($gray, 5%);
                        .feed {
                            display: block;
                        }
                    }
                }

                .feed {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: $header-height;
                    background-color: darken($gray, 5%);
                    margin: 0;
                    padding: 0 $margin-sm;

                    li {
                        padding: $margin-xs $margin-sm;
                        margin: 0 -#{$margin-sm};

                        &:nth-child(even) {
                            background-color: darken($gray, 3%);
                        }
                    }
                }
            }

            @include media(small-only) {
                .Avatar {
                    height: 30px;
                }

                .title {
                    display: none;
                }
            }
        }
    }
}
