.Icon {
    svg {
        height: 20px;
    }

    &__Flip {
        svg {
            transform: scaleX(-1);
        }
    }

    &__Double {
        white-space: nowrap;

        svg:first-child {
            margin-right: -8px;

            @include media(small-only) {
                margin-right: -14px;
            }
        }
    }

    &__Thumbnail, &__Button {
        svg {
            height: 1rem;
            vertical-align: text-top;
            margin-right: $margin-xs;

            &.brand {
                border: 1px solid;
                border-radius: 50%;
            }
        }

        &--Background {
            svg {
                background-color: $gray-d;
                border-radius: 50%;
            }
        }
    }

    &__Tab {
        svg {
            @include media(medium-up) {
                height: 1rem;
                margin-right: $margin-xs;
            }
        }
    }

    &__Thumbnail {
        &:first-child {
            margin-right: $margin-sm;
        }
    }

    &__Logo {
        display: flex;
        align-items: center;

        svg {
            height: 32px;
            margin-right: $margin-xs;
        }

        .title {
            display: flex;
            align-items: center;
            flex-direction: column;

            .deviantart {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    &__Search {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $brand;

        @include media(small-only) {
            margin-right: 0;
            width: 100%;

            svg {
                height: $menu-icon-height;
            }
        }
    }
}

.Header {
    &__Logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: $header-height - 2 * $margin-xs;
        max-width: $header-height;
        margin: $margin-xs 0;

        &--Title {
            font-size: 10px;
            padding-top: $margin-xs;

            @include media(small-only) {
                display: none;
            }
        }

        svg {
            width: 100%;
            flex: 1;
        }
    }
}
