.Info {
    &__Item {
        padding: 0 $margin-sm;

        h4 {
            display: inline-block;
            margin: $margin-xs;
            margin-left: 0;
            padding-left: 0;
        }

        span {
            margin: $margin-xs $margin-xs $margin-xs 0;
        }

        &.faves {
            padding: 0;

            .Accordion__Header {
                padding: 0 $margin-sm;
            }
        }
    }
}
