.List {
    text-align: left;
    margin: 0;

    &__Sidebar {
        margin: 0;

        li {
            a, span {
                margin: 0;
                padding: $margin-xs;
            }

            &.selected {
                a, span {
                    background-color: $brand;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }

    &__Statuses {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    &__User {
        max-height: 40vh;
        overflow: auto;

        li {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .Loading {
        text-align: center;

        @include media(medium-up) {
            margin: $margin-xs 0;
        }
    }

    @include media(medium-up) {
        &__User {
            &--Grid {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: $margin-xs $margin-sm;
                }
            }
        }
        .button {
            margin-top: $margin-sm;
            text-align: center;
        }
    }

    @include media(small-only) {
        padding-left: 0;

        &__User {
            &--Grid {
                width: 100%;
                flex-direction: column;
            }
        }

        li {
            padding: $margin-sm;
            border-top: 1px solid $brand;

            &:last-child {
                border-bottom: 1px solid $brand;
            }

            &.selected {
                background-color: $brand;
                font-weight: bold;
                color: $white;

                a {
                    color: $white;
                }
            }

            a, span, button {
                margin: -$margin-sm;
                padding: $margin-sm;
            }
        }

        &__User {
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: $margin-sm;

                a {
                    flex-direction: row;
                }

                .title {
                    padding-left: $margin-sm;
                }
            }

            img {
                height: $avatar-sm;
            }
        }
    }
}
