.Loading {
    svg {
        height: 100%;
        width: auto;
        max-width: 64px;
    }

    &__Sticky {
        position: sticky;
        top: 50%;
        display: flex;
        justify-content: center;
        transform: translateY(-50%);
        color: $brand;
    }

    &__Overlay {
        position: fixed;
        left: $menu-width;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        background-color: rgba($gray-d, 0.25);
        color: $brand;

        @include media(small-only) {
            left: 0;
        }

        &--Left {
            left: 0;
        }
    }
}

.Content, .Menu, .Deviation__Content {
    .Loading {
        height: 2rem;
        color: $brand;
    }
}

.Menu, .Deviation__Content {
    .Loading {
        text-align: center;
        margin: $margin-sm 0;
    }

    @include media(small-only) {
        .List li .button.Loading {
            margin: -$margin-sm;
            text-align: center;
        }
    }
}

.Grid__Tabbed {
    .Loading__Overlay {
        margin-top: -$margin-sm;
    }
}

.Page__Tabbed {
    .Loading__Overlay {
        top: auto;
        height: calc(100% - #{$margin-sm + $margin-md + $avatar-size + $margin-xs + $profile-bar-height} - 2em);

        @include media(small-only) {
            height: calc(100% - #{$margin-xs + $margin-sm + $margin-md + $avatar-size + $margin-sm + $profile-bar-height + $footer-height} - 2em - 1em);
        }
    }
}
