.Menu {
    height: 100%;
    width: $menu-width;
    background-color: darken($gray-l, 3%);
    overflow: auto;
    box-shadow: 0 0 5px 1px $gray;

    &__Contents {
        display: flex;
        flex-direction: column;
        padding: $margin-sm;
    }

    &__Search {
        display: flex;

        @include media(medium-up) {
            input {
                width: 100%;
            }
        }
    }

    &__Option {
        display: flex;
        align-items: center;

        @include media(medium-up) {
            &.Icon {
                svg {
                    margin-right: $margin-xs;
                }
            }
        }
    }

    .List {
        display: flex;
        flex-direction: column;

        @include media(small-only) {
            max-height: calc(100vh - #{$header-height + $footer-height});
        }

        &__Title {
            li {
                a, span {
                    display: flex;
                }
            }
        }

        a, span {
            border-radius: 3px;
            display: block;

            &.selected {
                background-color: $brand;
                color: $white;
            }
        }
    }

    .pagination-toggle {
        display: none;
    }

    @include media(large-only) {
        &__Fluid {
            width: $share-width-lg;
        }
    }

    @include media(small-only) {
        bottom: 0;
        margin-top: 0;
        height: $footer-height;
        width: 100%;
        z-index: 10;
        position: fixed;
        overflow: visible;

        .scroll-wrapper {
            overflow: visible;
        }

        &__Option {
            height: 100%;
            margin: 0;
            flex: 1;
            text-align: center;
            font-size: 10px;
            flex-direction: column;
            justify-content: center;
            color: $brand;

            &.Icon svg {
                height: $menu-icon-height;
            }

            &.selected {
                background-color: $brand;
                color: $white;
            }

            &--Back {
                width: $footer-height;
                flex: inherit;
            }
        }

        &__Contents {
            align-items: center;
            padding: 0;
            height: 100%;
            flex-direction: row;

            .List {
                @include sm-list();

                button {
                    padding: $margin-sm $margin-xs;
                }

                a {
                    border-radius: 0;
                    font-weight: bold;
                    text-align: left;
                }
            }

            input {
                width: calc(100% - #{$margin-xs * 2 + 2px});
                padding-left: $margin-xs;
            }

            .pagination-toggle {
                display: flex;
            }
        }
    }
}
