@mixin media($size) {
    @if $size == small-only {
        @media (max-width: $breakpoint-sm - 1) { @content; }
    } @else if $size == medium-up {
        @media (min-width: $breakpoint-sm) { @content; }
    } @else if $size == medium-only {
        @media (min-width: $breakpoint-sm), (max-width: $breakpoint-lg - 1) { @content; }
    } @else if $size == large-only {
        @media (min-width: $breakpoint-lg) { @content; }
    }
}

@mixin stroke($color) {
    text-shadow: $color 1px 0px 0px, $color 0.540302px 0.841471px 0px, $color -0.416147px 0.909297px 0px, $color -0.989992px 0.14112px 0px, $color -0.653644px -0.756802px 0px, $color 0.283662px -0.958924px 0px, $color 0.96017px -0.279415px 0px;
}

@mixin sm-list() {
    position: absolute;
    bottom: $footer-height;
    background-color: lighten($gray-l, 5%);
    overflow: auto;
    left: 0;
    right: 0;
    margin: 0;
}
