.Notifications {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 14;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Message {
        padding: $margin-md;
        background-color: rgba($brand, 0.9);
        color: $white;
        font-weight: bold;
        margin-bottom: $margin-md;
        box-shadow: 0 0 5px 0 $gray-d;
        border-radius: 3px;
    }
}
