.Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba($gray-d, 0.8);

    .close {
        position: absolute;
        top: $margin-sm;
        right: $margin-sm;
        color: $white;
        width: 30px;
        height: 30px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    }

    .Scroll-Container {
        display: flex;
        margin: $margin-md #{30px + $margin-sm} $margin-md $margin-md;
        height: calc(100% - #{2 * $margin-md});
        overflow: auto;

        @include media(small-only) {
            margin: #{30px + $margin-sm} 0 0;
        }
    }

    img {
        margin: auto;
        display: block;
    }
}
