.Pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    .skip-container {
        display: inline;
    }

    input {
        border-radius: 0;
        border: 1px solid $gray;
        height: calc(100% - 2px);
        padding: 0;
        text-align: center;
    }

    button {
        height: $pagination-height;
        background-color: $gray;
        border: 1px solid $gray;
        color: $white;

        &.page.selected {
            font-weight: bold;
            background-color: $brand;
            color: $white;
        }

        &.rewind {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-right: none;
        }

        &.fastforward {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
        }

        &.page, &.skip {
            background-color: darken($gray-l, 5%);
            border-left: $gray;
            border-right: $gray;
            color: $gray-d;
        }

        &.page, &.skip, &.next, &.previous {
            border-radius: 0;
        }

        svg {
            height: 1rem;
            vertical-align: middle;
        }
    }

    &__Fixed {
        position: fixed;
        bottom: 0;

        &--Right {
            left: calc(#{$menu-width} + 50%);
            margin-left: -50%;
            width: calc(100% - #{$menu-width});
        }

        &--Left {
            left: $margin-sm;
            right: $share-width + $margin-sm;
            width: auto;
        }

        .Pagination__Wrapper {
            border-radius: 3px;
            box-shadow: 0 0 5px 0 $white;
        }

        @include media(small-only) {
            left: 0;
            margin-left: 0;
            z-index: 9;
            width: 100%;
        }
    }

    @include media(small-only) {
        width: 100%;

        &__Wrapper {
            display: flex;
            width: 100%;
            border-radius: 0;
            box-shadow: none;
        }

        .skip-container {
            position: relative;
        }

        input {
            position: absolute;
            top: -$pagination-height-sm + 1px;
            border-color: $brand;
            min-width: 50px;
        }

        button {
            flex: 1;
            height: $pagination-height-sm;

            &.fastforward, &.rewind {
                border-radius: 0;
            }

            &.skip.active {
                background-color: $brand;
                color: $white;
                font-weight: bold;
            }

            svg {
                height: 20px;
            }
        }
    }
}

.Page {
    @include media(small-only) {
        &.with-pagination {
            padding-bottom: $pagination-height-sm + $footer-height + $margin-sm;
        }
    }
}
