.Wrapper {
    display: flex;

    &__With-Header {
        margin-top: $header-height;
        height: calc(100% - #{$header-height});
    }

    &__Tabbed {
        flex-direction: column;
    }
}

.Page {
    &__With-Sidebar {
        width: calc(100% - #{$share-width});
        overflow: auto;

        @include media(large-only) {
            width: calc(100% - #{$share-width-lg});
        }

        @include media(small-only) {
            width: 100%;
        }
    }
}

.Content {
    height: 100%;
    display: flex;
    &__Tabbed {
        overflow: hidden;
    }

    &__Column {
        padding: 0 $margin-xs;
        background-color: darken($gray-l, 10%);
        overflow: auto;

        @include media(small-only) {
            padding: 0;
            flex-direction: column;
        }
    }
}
