.Profile {
    &__Username {
        width: 100%;
        padding: $margin-md 0 $margin-sm $margin-md;
        display: flex;
        align-items: center;
        min-height: $avatar-size;

        h1 {
            margin: 0 0 0 $margin-sm;

            &.Loading {
                height: $avatar-size;
            }

            svg {
                height: 1em;
            }
        }
    }
    &__Tab {
        display: flex;
        flex-wrap: wrap;
        background-color: lighten($gray-d, 5%);
        color: $white;
        position: relative;

        .Buttons {
            position: absolute;
            right: $margin-xs;
            top: $margin-sm;
            display: flex;

            @include media(small-only) {
                button {
                    margin-bottom: $margin-xs;
                }
            }
        }
    }

    &__Title {
        min-width: 200px;
        min-height: calc(2em + #{$margin-xs});
        padding-left: $margin-md;
        padding-bottom: $margin-xs;

        .role {
            font-style: italic;
        }
    }

    &__Bar {
        height: $profile-bar-height;
        font-size: 10px;
        align-items: center;
        background-color: $brand;
        color: $brand-l;
        border-bottom: 1px solid $white;

        .Loading {
            height: 3rem;
            align-self: center;
            margin-left: $margin-sm;
        }

        &--Title {
            display: flex;
        }

        a {
            color: $white;

            &:hover {
                color: $gray-l;
            }
        }

        .Buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            margin-right: $margin-xs;

            button {
                border: 1px solid;

                &.active {
                    background-color: $white;
                    color: $brand;
                    font-weight: bold;
                }
            }
        }

        .title {
            padding-left: $margin-sm;
            flex: 1;
        }

        &--ScrollWrapper {
            display: flex;
            min-height: $profile-bar-height;
        }

        &--Column {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(2, 1fr);
            margin: $margin-xs 0;
            white-space: nowrap;
        }

        &--Column:not(:last-child) {
            border-right: 1px solid lighten($brand, 5%);
        }
    }

    &__Column {
        width: 50%;
    }

    .Card {
        .collections {
            display: flex;
            flex-wrap: wrap;
        }

        .bio {
            padding-top: $margin-sm;
            width: 100%;
        }

        &__Content--Wrapper > .Reply {
            width: 100%;
        }

        .Entry {
            margin: $margin-sm 0;
        }

        .login + .Loading, .loadmore {
            margin-top: $margin-sm;
        }
    }

    @include media(small-only) {
        &__Title {
            padding-left: $margin-sm;
            width: 100%;
        }
        &__Bar {
            &--ScrollWrapper {
                overflow-x: auto;
            }
        }

        &__Tab {
            .Buttons {
                flex-direction: column;
            }
        }

        &__Column {
            width: 100%;
        }

        .loadmore {
            margin-top: $margin-sm;
        }

        .Card {
            .bio {
                width: auto;
                padding-left: $margin-sm;
                padding-right: $margin-sm;
                padding-bottom: $margin-xs;
            }
        }
    }
}

.banned {
    text-decoration: line-through;
}
