.Reply {
    display: flex;
    flex-direction: column;
    padding: $margin-sm $margin-md;

    textarea {
        min-height: 50px;
    }

    button {
        margin-top: $margin-sm;
        align-self: flex-end;
    }

    @include media(small-only) {
        button {
            align-self: inherit;
        }
    }
}
