.Status {
    .Content {
        .Loading {
            text-align: center;
        }
    }

    .Page__Tabbed {
        width: 100%;
        overflow: auto;

        .Entry {
            margin: $margin-sm;
        }

        .login {
            padding-left: $margin-sm;
        }
    }

    .Pagination {
        @include media(medium-up) {
            margin-bottom: $margin-sm;
        }
    }
}
