.Tabs {
    display: flex;
    align-self: flex-end;
    flex: 1;
    padding-left: $margin-sm;

    .Tab {
        margin: 0 #{$margin-xs / 2};
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: $gray;
        color: $gray-l;

        &.active {
            background-color: $brand;
            color: $white;
            padding: $margin-xs $margin-md;
        }

        a {
            color: $gray-l;
            padding: $margin-xs $margin-md;
            display: block;
        }
    }

    @include media(small-only) {
        padding-left: 0;
        justify-content: center;
    }
}
