.Thumbnails {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: $margin-sm;
    margin: 0 $margin-sm $margin-sm $margin-sm;

    .literature {
        overflow: hidden;
        max-height: $thumbnail-sm;
        background-color: $white;
        position: relative;
        cursor: pointer;
        pointer-events: none;

        > a {
            display: flex;
            align-items: center;
            pointer-events: visible;
            width: auto;

            &:hover .excerpt {
                transform: translateY(-100%);
            }
        }

        .bg {
            background-color: rgba($white, 0.8);
        }

        .excerpt {
            height: 80px - $margin-xs;
            padding: $margin-xs;
            color: $gray;
            transition: 3s linear transform;
            width: calc(100% - #{$margin-xs});
            word-break: break-all;

            h1 {
                margin-top: 0;
                font-size: 1rem;
            }

            .content {
                font-size: 10px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, $white 0, rgba($white, 0) 10%, rgba($white, 0) 90%, $white 100%);
        }
    }

    li {
        margin: 0;
        display: flex;
        height: 100%;

        a {
            width: 100%;
        }

        &:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 0;
            padding-bottom: 100%;
        }
    }

    &__Image {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    @include media(large-only) {
        &__Menu {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @include media(small-only) {
        &:not(.Thumbnails__Menu) {
            grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
            justify-content: center;

            .literature {
                > a {
                    align-items: inherit;
                }

                .excerpt {
                    height: auto;
                }
            }
        }
    }
}

.Thumbnail {
    padding: $margin-sm;

    .stats {
        display: none;
        position: absolute;
        bottom: $margin-xs;
        right: $margin-xs;
        @include stroke($gray-d);
        color: $white;

        @include media(small-only) {
            display: block;
        }
    }

    @media (any-hover: hover) {
        &:hover .stats {
            display: block;
        }
    }

    @include media(small-only) {
        .title, .user {
            display: none;
        }

        .thumbnail {
            height: $thumbnail-sm;
        }

        h1 {
            width: $thumbnail-sm;
            line-height: $thumbnail-sm;
        }

        &__Content {
            img {
                max-width: 100%;
            }
        }
    }

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover .literature .content {
            transform: translateY(-50%);
        }
    }

    &__Large {
        .Thumbnail__Content {
            height: auto;

            .literature {
                width: $thumbnail-lg;
            }
        }
    }

    &__Small {
        .Thumbnail__Content {
            height: $thumbnail-sm;

            .literature {
                width: $thumbnail-sm;
            }
        }
    }

    &__Content {
        height: $thumbnail-md;
        margin: $margin-xs 0;
        background-color: $gray;
        box-shadow: 0 0 3px 1px $gray;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .literature {
            width: $thumbnail-md;
            text-align: center;
            margin: 0;
            background-color: $white;
            height: 100%;
            position: relative;

            .content {
                text-align: justify;
                padding: $margin-sm;
                color: $gray;
                transition: 3s linear transform;
            }

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, $white 0, rgba($white, 0) 10%, rgba($white, 0) 90%, $white 100%);
            }
        }

        img {
            max-height: 100%;
        }
    }
}
