$gray-l: #ccc;
$gray: #808080;
$gray-d: #333;
$brand: #e44646;
$brand-h: darken($brand, 3%);
$brand-l: #f19f9f;
$white: #fff;

$header-height: 60px;
$footer-height: 45px;
$profile-bar-height: 52px;
$menu-width: 200px;
$menu-icon-height: 25px;
$share-width: 200px;
$share-width-lg: 300px;
$pagination-height: 30px;
$pagination-height-sm: 45px;
$avatar-size: 50px;
$avatar-sm: 20px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 15px;

$thumbnail-xs: 50px;
$thumbnail-sm: 100px;
$thumbnail-md: 150px;
$thumbnail-lg: 300px;

$breakpoint-xs: 425px;
$breakpoint-sm: 768px;
$breakpoint-lg: 1024px;
