@import 'variables';
@import 'mixins';

@import 'header';
@import 'browse';
@import 'deviation';
@import 'gallery';
@import 'profile';
@import 'entries';
@import 'about';
@import 'status';
@import 'thumbnail';
@import 'pagination';
@import 'menu';
@import 'page';
@import 'accordion';
@import 'comments';
@import 'info';
@import 'reply';
@import 'favorites';
@import 'list';
@import 'grid';
@import 'entry';
@import 'loading';
@import 'overlay';
@import 'tabs';
@import 'card';
@import 'modal';
@import 'dropdown';
@import 'icon';

html, body {
    width: 100%;
    height: 100%;
    background-color: $gray-l;
    font-family: Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: $gray-d;
}

a {
    color: $brand;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $brand-h;
    }
}

hr {
    background-color: darken($gray-l, 10%);
    height: 1px;
    outline: none;
    border: none;
    margin: 0 $margin-md;

    @include media(small-only) {
        margin: 0;
    }
}

h1 {
    @include media(small-only) {
        font-size: 1.5em;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

input {
    outline: none;
    border: 1px solid $brand;
    background-color: lighten($gray-l, 5%);

    @include media(small-only) {
        padding: $margin-sm $margin-xs;
    }
}

textarea {
    background-color: lighten($gray-l, 5%);
    font-family: Helvetica;
    border: 1px solid $brand;
    outline: none;
    resize: vertical;
}

button {
    border: none;
    outline: none;
    padding: $margin-xs $margin-sm;
    background-color: $brand;
    color: $white;
    border-radius: 3px;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        color: rgba($white, 0.5);
    }
}

.footer-padding {
    padding-bottom: $margin-sm;
    @include media(small-only) {
        padding-bottom: $footer-height + $margin-sm;
    }
}

.hidden {
    @include media(small-only) {
        &-sm {
            display: none !important;
        }
    }

    @include media(medium-up) {
        &-md {
            display: none;
        }
    }
}

.Avatar {
    max-height: $avatar-size;
    img {
        max-height: $avatar-size;
    }
}

.comments-disabled {
    display: block;
    text-align: center;
    padding-bottom: $margin-sm;
}

.Buttons {
    button {
        margin-right: $margin-xs;
    }
}

.Copy {
    display: flex;
    margin: 0 $margin-sm;
    input {
        min-width: 0;
        text-align: center;
        flex: 1;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.nocomments {
    padding-left: $margin-sm;
    padding-right: $margin-sm;
    padding-top: $margin-sm;
    display: block;
    text-align: center;
}

a.external {
    position: relative;
    margin-right: 1em;
    &:after {
        content: url(icons/link.svg);
        position: absolute;
        width: 1em;
    }
}

.Mature {
    padding: $margin-sm;
}
